<footer>
  <nav class="fullwidth extraspacer">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/principles">Principles</a>
    <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
    <a href="{{ site.baseurl }}/talks">Talks</a>
    <a href="{{ site.baseurl }}/writing">Writing</a>
    <a href="{{ site.baseurl }}/about">About</a>
    
    <a href="https://twitter.com/Sereeena" class="right" alt="twitter link">
      Twitter</a>
    <a href="https://github.com/heisenburger" class="right" alt="github link">
      Github</a>
    <a href="mailto:serenadantingchen@gmail.com" class="right" alt="email link">
      Email</a>
  </nav>
</footer>