<header>
  <div class="fullwidth">
    <a class="l-nu" href="{{ site.baseurl }}/">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103 85" class="logo fadeto-{{ page.theme }} color-{{ page.theme }}">
    <path fill="none" stroke="currentColor" stroke-width="3" stroke-miterlimit="10" d="M15.5 34v49l67-24.6zM87.5 2v49l-67-24.6z"/>
    <path fill="none" stroke="currentColor" stroke-width="3" stroke-miterlimit="10" d="M7.5 38.5v40l55-20zM95.5 6.5v40l-55-20.1z"/>
    <path fill="none" stroke="currentColor" stroke-width="3" stroke-miterlimit="10" d="M1.5 54v18l24-9zM101.5 12v18l-24-9z"/>
  </svg>
</a>
  </div>
</header>