<header>
  <div class="fullwidth">
    <a class="l-nu" href="{{ site.baseurl }}/">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" class="logo fadeto-{{ page.theme }} color-{{ page.theme }}">
        <path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16" d="M444 369L119 251v237z"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16" d="M350 369L86 277v184z"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16" d="M183 389L54 341v95zM147 220l325 119V101z"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16" d="M241 220l264 92V128z"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16" d="M408 201l129 47v-95z"/>
      </svg>
    </a>
  </div>
</header>