<div class="ninesixty enter-frombottom">
  {% for post in site.posts %}
    {% if post.section == page.section %}
      {% if post.externallink %}
        <a class="post-link l-nu" href="{{ post.externallink }}">
      {% else %}
        <a class="post-link l-nu" href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}
        <p class="f-ss p-down">
          {{ post.event }}
        </p>
        <h3>{{ post.title }}</h3>
        <p class="f-ss p-up">
          {% for tag in post.tags %}
            #{{ tag }}
          {% endfor %} &mdash; {{ post.date | date: "%-d %B %Y"}}
          {% if post.externallink %}
            <svg class="inlineicon" viewbox="0 0 100 100">
              <use xlink:href="/images/extlink.svg#extlink"/>
            </svg>
          {% endif %}
        </p>
      </a>
    {% endif %}
  {% endfor %}
</div>