// Flexbox

.flex {
  display: flex;
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify {
  justify-content: space-between;
}

.flex-child {
  flex: 0 0 260px;
  @include query($bp-tablet){
    flex: 0 0 auto;
  }
}

// Header

header {
  width: 100%;
  margin: 10vh 0 $spacer;
  @include query($bp-tablet){
    @media screen and (orientation: landscape){
      margin: 15vh 0 $spacer;
    }
  }
}

.bheader {
  @include query($bp-tablet){
    margin: 5vh 0 $spacer;
  }
}

.p-top {
  padding-top: 0;
  @include query($bp-tablet){
    padding-top: $spacer;
  }
  @include query($bp-desktopwide){
    padding-top: $spacer / 4;
  }
}

.p-bottom {
  padding-bottom: $spacer;
}

.logo {
  display: block;
  height: 3rem;
  @include query($bp-tablet){
      display: inline-block;
  }
}

.sc {
  display: block;
  // margin-top: 0.75rem;
  @include query($bp-tablet){
    display: inline-block;
    padding-left: 1rem;
  }
}

// Content

.wrap {
	width: 100%;
	margin-bottom: $spacer;
}

.ninesixty {
	max-width: 960px;
	margin: 0 auto;
  margin-bottom: $spacer;
}

.fullspan {
  width: 100%;
}

.measure {
  max-width: 33em;
  margin: 0 auto;
  margin-bottom: $spacer*2;
}

.extraspacer {
  margin: 2em 0;
  @include query($bp-desktop){
    margin: 5em 0;
  }
}

// Feature links

.feature-link {
  display: inline-block;
  // min-width: 11rem;
  width: 21%;
  margin: 1em 2em 1em 0;
  overflow-wrap: break-word;
  @include query($bp-desktop){
    // min-width: 15rem;
  }
  h3 {
    margin-bottom: 0;
  }
}

// list style

.nls {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Footer

footer {
	width: 100%;
}