// three.js

.fixed-frame {
  overflow: hidden;
  z-index: 1;
  position: fixed;
}

.native-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.native-frame > div {
  z-index: 3;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.native-frame {
  padding: 0 $phi*3vw;
  @include query($bp-desktop){
    padding: 0 $phi*6vw;
  }
  @include query(2000px){
    padding: 0 $phi*12vw;
  }
}