// three.js

#fixed-frame {
  overflow: hidden;
  z-index: 2;
  position: fixed;
}

#camera-frame > * {
  margin: 0;
  padding: 0;
}

#native-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

#camera-frame {
  z-index: 3;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.frame {
  z-index: 1;
}