// three.js

html #fixed-frame {
  overflow: hidden;
  z-index: 2;
  position: fixed;
}

html #fixed-frame > #camera-frame > * {
  margin: 0;
  padding: 0;
}

html #native-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

html #native-frame > div {
  z-index: 3;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

html body > canvas.frame {
  z-index: 1;
}