// Typesetting

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 600;
}

p {
  line-height: 1.5em;
}

small {
  font-size: 0.875em;
}

// font
.f-ss {
  font-family: $base-font-family;
}

.f-s {
  font-family: $serif;
}

// small caps
.f-sc {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

// responsive break
.rbr {
	display: none;
  @media screen and (min-width: 1160px) and (max-width: 2400px) {
		display: inline;
	}
}

.easyreading {
  font-size: 1rem;
  p {
    line-height: 1.7em;
    margin-bottom: 1.2em;
    @include query($bp-tablet){
      margin-bottom: 1.5em;
    }
  }
  h1 {
    // font-family: $display-sm;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1em;
    @include query($bp-tablet){
      font-size: 5rem;
    }
    @include query($bp-desktop){
      font-size: 6rem;
    }
    @include query($bp-desktopwide){
      // font-family: $display;
      font-size: 7rem;
      letter-spacing: -0.02em;
    }
  }
  h3 {
    margin-top: 2em;
  }
  li {
    margin-bottom: 0.25em;
  }
  @include query($bp-tablet){   
    font-size: 1.3rem;    
  }   
  @include query($bp-desktop){    
    font-size: 1.4rem;      
  }   
  @include query($bp-desktopwide){    
    font-size: 1.5rem;    
  }
}

ul {
  @include query($bp-desktop){
    padding-left: 2rem;
  }
}

// Headings

h1, h2, h3, h4 {
  margin-top: 0.8em;
}

h3, h5,
.h3, .h5 {
  font-family: $base-font-family;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.h2, .h4, .h6 {
  font-family: $base-font-family;
  text-transform: capitalize;
}

h1, h2,
.h1, .h2 {
  font-size: 2em;
  @include query($bp-tablet){
  	font-size: 2.5em;
  }
}

h3, h4,
.h3, .h4 {
  font-size: 1.5em;
}

h5, h6,
.h5, .h6 {
	font-size: 1.25em;
}


h2, h4, h6,
.h2, .h4, .h6 {
  font-weight: 600;
}

// Blockquote

blockquote {
  font-family: $display-sm;
  font-weight: 400;
  // font-style: normal;
  font-size: 1.25em;
  padding: 0 $spacing-unit/2;
  margin: 1em 0;
  line-height: 0.75em;
  letter-spacing: 0.005em;
  text-rendering: optimizeLegibility;

  > :last-child {
      margin-bottom: 0;
  }

  @include query($bp-desktop){
    font-family: $display;
    font-size: 2em;
    margin: 1em -10vw;
    line-height: 1em;
  }
}

// Featured text

.f-disp {
  font-family: $display-sm;
  font-weight: normal;
  @include query($bp-desktop){
    font-family: $display;
  }
}

h1, h2, h3, h4,
blockquote, .feature-text, .f-disp {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature-text {
	// font-family: $display-sm;
	font-size: 2rem;
	line-height: 1.2em;
  letter-spacing: -0.01em;
	@include query($bp-tablet){
    font-size: 3rem;
  }
  @include query($bp-desktop){
    // font-family: $display;
    letter-spacing: -0.02em;
    font-size: 4rem;
  }
	@include query($bp-desktopwide){
		font-size: 5rem;
	}
}

// Lists

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Links

a {
  color: $text-color;
  text-decoration: none;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent -300%,currentColor 600%);
  background-image: linear-gradient(transparent -300%,currentColor 600%);
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;

  &:hover {
    color: $accent-color;
    transition: 400ms;
  }
}

.l-nu {
  text-decoration: none;
  background-image: none;
}

a.feature-link {
  color: $text-color;

  &:hover {
    color: $accent-color;
    // outline: 0.5rem solid #fff;
    // h3, p {
    //   background-color: lighten($accent-color, 40%);
    //   box-shadow: -0.4em 0 0 lighten($accent-color, 40%),
    //   0.4em 0 0 lighten($accent-color, 40%);
    // }
  }
}

// Code

pre,
code {
  font-size: 0.875em;
  border: 1px solid $grey-color-light;
  border-radius: 0.2em;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}