@font-face {
  font-family: "Questa";
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Questa_Regular.woff2") format("woff2"),url("../fonts/Questa_Regular.woff") format("woff")
}

@font-face {
  font-family: "QuestaGrande";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Questa_Grande_Regular.woff2") format("woff2"),url("../fonts/Questa_Grande_Regular.woff") format("woff")
}