<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  	

    <div id="fixed-frame" class="fixed-frame frame">
     <div id="camera-frame" class="camera-frame"></div>
    </div>

    <div id="native-frame" class="native-frame">

      {% include blog-header.html %}

      <div class="enter-frombottom">
        {% include blog-title.html %}

        <div class="measure easyreading f-s p-top-mobile">
            {{ content }}
        </div>

      </div>

      {% include footer.html %}

    </div>

    {% include js.html %}
  </body>

</html>
