<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	

    <div id="fixed-frame" class="frame">
     <div id="camera-frame"></div>
    </div>

    <div id="native-frame">

      {% include blog-header.html %}

      
      {% include blog-title.html %}

      <div class="measure easyreading">
          {{ content }}
      </div>

      {% include footer.html %}

    </div>
    <script src="/js/three.min.js"></script>
    <script src="/js/scroll.js"></script>
    {% include ga.html %}
  </body>

</html>
